body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1864px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1864px;
}
#u133 {
  position:absolute;
  left:2px;
  top:924px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  position:absolute;
  left:157px;
  top:148px;
  width:151px;
  height:71px;
}
#u135 {
  position:absolute;
  left:2px;
  top:28px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  position:absolute;
  left:338px;
  top:148px;
  width:151px;
  height:71px;
}
#u137 {
  position:absolute;
  left:2px;
  top:28px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u138 {
  position:absolute;
  left:516px;
  top:148px;
  width:151px;
  height:71px;
}
#u139 {
  position:absolute;
  left:2px;
  top:28px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u140 {
  position:absolute;
  left:946px;
  top:160px;
  width:183px;
  height:40px;
}
#u141 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142 {
  position:absolute;
  left:142px;
  top:96px;
  width:220px;
  height:52px;
}
#u143 {
  position:absolute;
  left:2px;
  top:18px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
