body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1755px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1755px;
}
#u119 {
  position:absolute;
  left:2px;
  top:870px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120 {
  position:absolute;
  left:157px;
  top:148px;
  width:151px;
  height:71px;
}
#u121 {
  position:absolute;
  left:2px;
  top:28px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122 {
  position:absolute;
  left:338px;
  top:148px;
  width:151px;
  height:71px;
}
#u123 {
  position:absolute;
  left:2px;
  top:28px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124 {
  position:absolute;
  left:516px;
  top:148px;
  width:151px;
  height:71px;
}
#u125 {
  position:absolute;
  left:2px;
  top:28px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u126 {
  position:absolute;
  left:946px;
  top:160px;
  width:183px;
  height:40px;
}
#u127 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  position:absolute;
  left:142px;
  top:96px;
  width:220px;
  height:52px;
}
#u129 {
  position:absolute;
  left:2px;
  top:18px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  position:absolute;
  left:638px;
  top:1362px;
  width:151px;
  height:71px;
}
#u131 {
  position:absolute;
  left:2px;
  top:28px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
