body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1712px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1712px;
}
#u93 {
  position:absolute;
  left:2px;
  top:848px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  position:absolute;
  left:157px;
  top:148px;
  width:151px;
  height:71px;
}
#u95 {
  position:absolute;
  left:2px;
  top:28px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96 {
  position:absolute;
  left:338px;
  top:148px;
  width:151px;
  height:71px;
}
#u97 {
  position:absolute;
  left:2px;
  top:28px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  position:absolute;
  left:516px;
  top:148px;
  width:151px;
  height:71px;
}
#u99 {
  position:absolute;
  left:2px;
  top:28px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  position:absolute;
  left:946px;
  top:160px;
  width:183px;
  height:40px;
}
#u101 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102 {
  position:absolute;
  left:142px;
  top:96px;
  width:220px;
  height:52px;
}
#u103 {
  position:absolute;
  left:2px;
  top:18px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
